$icon-font-path: "/bower_components/bootstrap-sass-official/fonts/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/bootstrap';

$activeColor: #428bca;

/* Animation */
@mixin animateAll($speed: 300ms){
  -webkit-transition: $speed linear all; // Chrome
  transition: $speed linear all;
}
@mixin delayAnimation($delay: 300ms){
  -webkit-transition-delay: $delay; // Chrome
  transition-delay: $delay;
}

.underlined {
  border-bottom: 1px solid #ddd;
}

.slide {
  @include animateAll();
  position: relative;
  &.ng-enter{
    left:100%;
    position:absolute;
    top:0;
  }
  &.ng-enter-active{
    left:0%;
  }

  &.ng-leave{
    left:0%;
  }
  &.ng-leave-active{
    left:-166%;
  }
  .reverse + &.ng-enter{
    left:-100%;
    position:absolute;
    top:0;
  }
  .reverse + &.ng-enter-active{
    left:0%;
  }

  &.ng-leave.reverse{
    left:0%;
  }
  &.ng-leave-active.reverse{
    left:166%;
  }
}

.retick{
  @include animateAll(150ms);
  position: relative;
  &.ng-leave{
    top:0;
  }
  &.ng-leave-active{
    top:2em;
  }
  &.ng-enter{
    @include delayAnimation(150ms);
    top:2em;
  }
  &.ng-enter-active{
    top:0;
  }
}

.controls > button{
  margin-bottom:0.5em;
}

.top-return{
  position: fixed;
  bottom: 1em;
  right: 1em;
}

[ng-click], .clickable{
  cursor:pointer;
}

.list-group-item.selected,
.list-group-item.selected:hover,
.list-group-item.selected:focus{
  color: #fff;
  background-color: $activeColor;
  border-color: $activeColor;
}

/* End Animation */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.ng-cloak {
  display:none!important;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Jump to container for pos (Header priority) */

body > .container {
  position: relative;
}

/* Views should use all the room they are given */
.view {
  width:100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    padding-top: 20px;
    border-bottom: 1px solid #e5e5e5;
    background: #f3f3f3;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.header .nav-tabs{
  margin-top:19px;
  margin-bottom:-1px;
  overflow: hidden;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@media screen and (max-width: 991px) {
  .container{
    margin-top: 20px;
  }
}
