<!-- Menu List -->

<div class="restaurant" ng-repeat="(restaurantId, menus) in menus">
  <h2>{{ menus[0].restaurantName }}</h2>
  <div class="list-group">
    <a ng-repeat="menu in menus" ng-href="#/menus/{{menu.id}}" class="list-group-item row">
      <div class="col-md-10 media">
        <h4 class="list-group-item-heading">{{menu.nom}}</h4>
        <p class="list-group-item-text">
          {{menu.description}}
        </p>
      </div>
      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    </a>
    <a class="list-group-item list-group-item-info row" ng-href="#/menus/new/{{ restaurantId }}">
      <div class="col-md-10 media">
        <h4 class="list-group-item-heading">New Menu</h4>
      </div>
      <span class="glyphicon glyphicon-chevron-right pull-right"></span>
    </a>
  </div>
</div>

<!-- Menu Edit -->


<div class="confirm-order row" ng-show="modifyingMenu()">
  <input class="row form-control" type="text" ng-model="currentMenu.nom" placeholder="Menu Name">
  <br>
  <ul class="list-group col-md-7 col-sm-12">
    <li ng-repeat="repas in currentMenu.repas" class="row list-group-item" ng-click="setCurrentRepas(repas)">
      <div class="media">
        <a class="pull-left">
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIj48L3JlY3Q+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+" style="width: 64px; height: 64px;">
        </a>
        <h3 class="list-group-item-heading" ng-class="{'text-muted': repas.isPlaceholder}">
          {{repas.nom}} <span class="badge" ng-hide="!repas.prix">{{repas.prix}} $</span>
        </h3>
        <p class="list-group-item-text">{{repas.description}}</p>
      </div>

    </li>
  </ul>
  <div class="well col-sm-12 col-md-4 col-md-offset-1" ng-class="">
    <form name="currentRepas">
      <h4>Repas</h4>
      <div class="form-group">
        <!-- <label for="repas-name">Name</label> -->
        <input id="repas-name" placeholder="Name" class="form-control" type="text" ng-model="currentRepas.nom">
      </div>
      <div class="form-group">
        <!-- <label for="repas-prix">Prix</label> -->
        <input id="repas-prix" placeholder="Prix" class="form-control" type="number" ng-model="currentRepas.prix">
      </div>
      <div class="form-group">
        <!-- <label for="repas-description">Description</label> -->
        <textarea id="repas-description" placeholder="Description..." class="form-control" ng-model="currentRepas.description"></textarea>
      </div>

    <div class="controls row">
      <button type="button" class="btn btn-success col-md-12" ng-click="addOrModifyRepas(currentRepas)">Confirm</button>
      <br>
      <button type="button" class="btn btn-danger col-md-12">Remove / Cancel</button>
    </div>

    </form>
  </div>
  <button type="button" class="btn btn-success col-sm-12" ng-click="confirmMenu()">Confirm Menu</button>
</div>
