<a href="#/restaurateurs" class="btn"><span class="glyphicon glyphicon-chevron-left"></span> Return</a>

<form role="form" name="userForm" ng-submit="confirmRestaurateur()">

  <fieldset>

    <legend>General Info</legend>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text"  class="form-control" ng-model="currentRestaurateur.name" placeholder="Name">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="email" ng-model="currentRestaurateur.email" class="form-control" placeholder="Email">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="form-group">
          <input type="password" type="newPassword" name="password" ng-model="currentRestaurateur.password" class="form-control" placeholder="[Unchanged]">
        </div>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <input type="password" name="password_confirmation" ng-model="currentRestaurateur.passwordConfirmation" password-verify="user.newPassword" class="form-control" placeholder="Confirm Password">
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Restaurants</legend>

    <div class="list-group">
      <label ng-repeat="resto in restaurants" class="list-group-item clickable" ng-class="{'selected': selectedRestaurants[resto.id]}">Restostop <input ng-model="selectedRestaurants[resto.id]" ng-checked="restoIsSelected(resto)" type="checkbox" class="pull-right"></label>
    </div>

  </fieldset>

  <button type="submit" ng-disabled="!userForm.$valid" tooltip="{{submitTooltip()}}" class="btn btn-info btn-block">Save</button>

</form>
