<form role="form" name="userForm" ng-submit="register()">

          <fieldset>

            <legend>General Info</legend>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <input ng-required="true" type="text" name="name" ng-model="currentClient.user.name" class="form-control" placeholder="Name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input ng-required="true" type="text" name="email" ng-model="currentClient.email" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <!-- Input type can't be date : not enough cohesion between browser behaviors -->
                  <input type="text" ng-required="true" class="form-control" ng-model="currentClient.user.birth_date" datepicker-popup="yyyy-MM-dd" datepicker-options="{'show-weeks': false}" show-button-bar="false" placeholder="Date of Birth YYYY-MM-DD">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <input type="tel" ng-required="true" name="telephone" ng-model="currentClient.user.telephone" class="form-control" placeholder="Telephone Number">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                  <input ng-required="true" type="password" name="password" ng-model="currentClient.password" class="form-control" placeholder="Password">
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <input ng-required="true" type="password" name="password_confirmation" ng-model="currentClient.password_confirmation" password-verify="currentClient.password" class="form-control" placeholder="Confirm Password">
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Address</legend>

            <div class="row">
              <div ng-class="{'col-xs-12': !editForm, 'col-xs-9': editForm}">
                <div class="form-group">
                  <input ng-required="isRequired('address.address')" ng-disabled="isDisabled('address.address')" class="form-control" type="text" name="address" placeholder="Address line" ng-model="currentAddress.street_address">
                </div>
              </div>
              <div class="col-xs-3" ng-hide="!editForm">
                <div class="checkbox">
                  <input type="checkbox" ng-model="currentAddress.isDefault"> Default Address
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input ng-required="isRequired('address.city')" ng-disabled="isDisabled('address.city')" class="form-control" type="text" name="city" placeholder="City" ng-model="currentAddress.city">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input ng-required="isRequired('address.province')" ng-disabled="isDisabled('address.province')" class="form-control" type="text" name="province" placeholder="Province" ng-model="currentAddress.province">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input ng-required="isRequired('address.postalCode')" ng-disabled="isDisabled('address.postalCode')" class="form-control" type="text" name="postal_code" placeholder="Postal Code" ng-model="currentAddress.code_postal">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <select ng-require="isRequired('address.country')" ng-disabled="isDisabled('address.country')" ng-model="currentAddress.country" class="form-control" name="country">
                    <option value="">-- Select a Country --</option>
                    <option value="CA">Canada</option>
                  </select>
                </div>
              </div>
            </div>

          </fieldset>
          <button type="submit" ng-disabled="!userForm.$valid" tooltip="{{submitTooltip()}}" class="btn btn-info btn-block">Register</button>

        </form>
